<table class="table table-hover">
  <tr valign="top">
    <td width="70px">
      <a href="{{ url_for('user', username=query.author.username) }}">
        <img src="{{ query.author.avatar(36) }}" />
      </a>
    </td>
    <td>
      <div>
        <p>
          <a href="{{ url_for('user', username=query.author.username) }}">
            {{ query.author.username }}
          </a>
          wrote function: <b>{{ query.description }}</b>
        </p>
        {% highlight 'sparql' %}
{{query.sparqlquery}}
        {% endhighlight %}
        {% highlight 'python' %}
{{query.pythonscript}}
        {% endhighlight %}
      </div>
      <p><a href="{{ url_for('deletequery', id=query.id) }}">Delete Query</a></p>
    </td>
  </tr>
</table>
